body {
	margin: 0;
	font-family: Century Gothic;
	overflow-x: hidden;
}

header {
	width: 100%;
	background: yellow;
}

#boton-menu {
	display: none;
}

header label {
	display: none;
	width: 50px;
	height: 50px;
	padding: 10px;
	border-right: 1px solid grey;
}




/* 
.menu li{
	flex-grow: 1;
	text-align: center;
}
*/
.menu li {
	border-right: 1px solid grey; 
}

.menu li a {
	display: block;
	padding: 15px 20px;
	color: grey;
	text-decoration: none;

}

.menu li:hover {
	background: rgba(0,0,0,0.2)
}

@media (max-width: 768px) {
	
	header label {
		display: block;
	}

	.menu {
	position: absolute;
	background: yellow;	
	width: 60%;
	margin-left: -60%;
	transition: all 0.5s;
	}

	.menu ul {
		flex-direction: column;
	}

	.menu li {
		border-top: 1px solid grey;
	}

	#boton-menu:checked ~ .menu {
		margin: 0;
	}