body {
	background: grey;
	margin:0;
	font-family: Century Gothic;
}

h1 {
	color: white;
	text-align: center;
}

/* ESTILOS DE LA GALERIA */

.galeria {
	width: 90%;
	margin: auto;
	list-style: none;
	padding: 20px;
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.galeria li {
	margin: 5px;
}

.galeria img {
	width: 200px;
	height: 140px;
}

/* ESTILOS DEL MODAL*/

.modal {
	/* 1) display: none; */
	/* 2) visibility: hidden;
		  opacity: 0; */
		 position: absolute;
		 top: -100%;

}

.modal:target {

	/* 1) display: block; */
	/* 2) visibility: visible;
	      opacity: 1; 
	      transition: all 0.5s; */

	transition: all 0.5s;
	position: fixed;
	background: rgba(0,0,0,0.8);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.modal h3 {
	color: white;
	font-size: 30px;
	text-align: center;
	margin: 15px 0;

}

 .imagenes {
 	width: 100%;
 	height: 100%;
 	display: flex;
 	justify-content: center;
 	align-items: center;
 }

 .imagenes a {
 	color: white;
 	font-size: 40;
 	text-decoration: none;
 	margin: 0 10px;
 }

 .imagenes a:nth-child(2){
 	margin: 0;
 	height: 100%;
 	flex-shrink: 2;
 }

.imagenes img {
	width: 500px;
	height: 100%;
	max-width: 100%;
	border: 7px solid white;
	box-sizing: border-box;
}

.cerrar {
	display: block;
	background: white;
	width: 25px;
	height: 25px;
	margin: 15px auto;
	text-align: center;
	text-decoration: none;
	font-size: 25px;
	color: black;
	padding: 5px;
	border-radius: 50%;
	line-height: 25px;
}